body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #33333A;
    margin: 0;
}
.main-content {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
