.main-content .container {
    width: 75%;
    margin: 0 auto;
}

.content .wrapper-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .product-item {
    width: 32%;
    height: 500px;
    margin: 0 0 15px 0;
}

.content .img-main-photo img {
    width: 100%;
}

.content .product-description {
    width: 90%;
}

@media (max-width: 1400px) {
    .main-content {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .content .product-item {
        width: 45%;
        height: 450px;
        margin: 0 0 15px 0;
    }
}