.app .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #33333a;
}

.header .strip {
    background: #33333A;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .strip p {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 1px;
}

.header .main-navigation-head {
    width: 1366px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .wrap-l-m {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.header .list-menu ul {
    margin: 0;
    list-style-type: none;
}

.header .list {
    position: relative;
}

.header .list-menu ul li a {
    padding: 0 15px 0 15px;
    font-family: Proxima Nova; /* where is generic? */
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.header .list-menu ul li:hover {
    color: #FF5E1B;
}

.header .list-menu ul li p {
    position: absolute;
    top: 1px;
    right: 7px;
}

.header .list-menu ul li p span:nth-of-type(1) {
    width: 1px;
    height: 6px;
    background: #33333A;
    position: absolute;
    transform: rotate(-45deg);
    right: 1px;
}

.header .list-menu ul li p span:nth-of-type(2) {
    width: 1px;
    height: 6px;
    background: #33333A;
    position: absolute;
    transform: rotate(45deg);
    right: -3px;
}


.header .control-order ul {
    margin: 0;
    display: flex;
    list-style-type: none;
}

.header .control-order ul li {
    padding: 0 15px 0 15px;
    font-family: Proxima Nova; /*the same above*/
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .control-order ul li img {
    margin: 0 0 0 10px;
}

.main-navigation-head .list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    position: relative;
}
.main-navigation-head .list-menu p{
     position: relative;
    cursor: pointer;
 }
.main-navigation-head .list-menu p:hover{
    color: #FF5E1B;
 }
.main-navigation-head .list-menu p::after{
    position: absolute;
    content: '';
    background: url("/img/next.svg");
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    right: -16px;
    top: 5px;
}
.main-navigation-head .my-drop-down-menu {
    padding: 15px 20px;
}
.main-navigation-head .my-drop-down-menu .child {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 0;
    width: 130px;
    border: 1px solid #33333a;
    top: 80px;
    background: #ffffff;
}
.main-navigation-head .my-drop-down-menu:hover .child {
    display: flex;
}
.main-navigation-head .child li a:hover {
    color: #FF5E1B;
}
