.sortPanel {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sortPanel .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1366px;
    margin: 0 auto;
    padding: 10px 0;
}

.sortPanel .breadcrumbs ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sortPanel .breadcrumbs ul li {
    list-style-type: none;
    padding: 0 10px 0 0;
}

.sortPanel .breadcrumbs .separator {
    padding: 0 0 0 10px;
}

.sortPanel .breadcrumbs ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    color: #030303;
}

.sortPanel .sort {
    display: flex;
    align-items: center;
}

.sortPanel .sort .search {
    padding: 0 25px 0 0;
}

.sortPanel .sort .search-input {
    padding: 4px 5px;
    width: 200px;
    outline: none;
}

.sortPanel .sort .block-item {
    display: flex;
    align-items: center;
}

.sortPanel .sort p {
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
    padding: 0 30px 0 0;
}

.sortPanel .sort .select {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    padding: 10px;
    width: 165px;
    margin: 0 0 0 20px;
}
@media (max-width: 1400px) {
    .sortPanel .container {
        width: 95%;
    }
}

