.sidebar {
    width: 25%;
}

.sidebar .sortFilter {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin: 10px 0;
    padding: 0 0 5px 0;
}

.sidebar .sortFilter p {
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
}

.sidebar .sortFilter p:hover {
    color: #FF6008;
}

.sidebar .list-section {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
}

.sidebar .list-section ul {
    padding: 0;
}

.sidebar .list-item {
    cursor: pointer;
    list-style-type: none;
    position: relative;
}
.sidebar .list-item h5::before {
    content: '';
    position: absolute;
    background: url("/img/arrow-down.svg");
    width: 12px;
    height: 6px;
    right: 20px;
    top: 18px;
    transform: rotate(-90deg);
    transition: .5s;
}
.sidebar .list-item h5.active::before {
    transform: rotate(0deg);
    transition: .5s;
}

.sidebar .list-item .submenu ul {
    padding: 0 0 0 25px;
}

.sidebar .list-item .submenu li {
    position: relative;
    font-size: 12px;
    line-height: 40px;
    list-style-type: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
    cursor: pointer;
}

.sidebar .list-item .submenu  {

}
.sidebar .list-item .inactive + .submenu  {
    transition: .5s;
    height: 0;
    opacity: 0;
}
.sidebar .list-item .active + .submenu  {
    transition: .5s;
    height: 160px;
    opacity: 1;
}
