.sidebar {
    width: 25%;
}

.sidebar .sortFilter > div{
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin: 10px 0;
    padding: 0 0 5px 0;
    cursor: pointer;
}

.sidebar .sortFilter p {
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
}

.sidebar .sortFilter p:hover {
    color: #FF6008;
}

.sidebar .list-section {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
}

.sidebar .list-section ul {
    padding: 0;
}

.sidebar .list-item {
    cursor: pointer;
    list-style-type: none;
    position: relative;
}

.sidebar .list-item h5::before {
    content: '';
    position: absolute;
    background: url("/img/arrow-down.svg");
    width: 12px;
    height: 6px;
    right: 0;
    top: 18px;
    transform: rotate(-90deg);
    transition: .5s;
}

.sidebar .list-item h5.active::before {
    transform: rotate(0deg);
    transition: .5s;
}

.sidebar .list-item .submenu ul {
    padding: 0 0 0 25px;
}

.sidebar .list-item .submenu li {
    position: relative;
    font-size: 12px;
    line-height: 40px;
    list-style-type: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
    cursor: pointer;
}

.sidebar .list-item .submenu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: .5s;
    height: 0;
}

.sidebar .list-item .active + .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    transition: .5s;
    height: 160px;
}

.sidebar .selectSize {
    border-top: 2px solid rgba(0, 0, 0, .1);
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
}

.sidebar .selectSize h5 {
    margin: 0 0 15px 0;
}

.sidebar .wrapSelectSize {
    display: flex;
    justify-content: space-between;
}

.sidebar .wrapSelectSize .size-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #515356;
    cursor: pointer;
}

.sidebar .wrapSelectSize .size-item.active {
    background: #F3F3F3;
}

