.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #33333a;
}

.header .strip {
    background: #33333A;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .strip p {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 1px;
}

.header .burger-menu {
    cursor: pointer;
}

.header .burger-menu span {
    width: 23px;
    height: 3px;
    background: #030303;
    margin: 4px 0 4px 0;
    display: block;
}

.header .head-mob {
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 20px 0 20px 0;
    display: none;
}

.header .main-navigation-head {
    width: 1366px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .wrap-l-m {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.header .list-menu ul {
    margin: 0;
    list-style-type: none;
}

.header .list {
    position: relative;
}

.header .list-menu ul li a {
    padding: 0 15px 0 15px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #33333A;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.header .list-menu ul li:hover {
    color: #FF5E1B;
}

.header .list-menu ul li p {
    position: absolute;
    top: 1px;
    right: 7px;
}

.header .list-menu ul li p span:nth-of-type(1) {
    width: 1px;
    height: 6px;
    background: #33333A;
    position: absolute;
    transform: rotate(-45deg);
    right: 1px;
}

.header .list-menu ul li p span:nth-of-type(2) {
    width: 1px;
    height: 6px;
    background: #33333A;
    position: absolute;
    transform: rotate(45deg);
    right: -3px;
}

.header .control-order {
    margin: 0;
    display: flex;
    list-style-type: none;
}

.header .control-order img {
    padding: 0 15px 0 15px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #33333A;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .control-order ul li img {
    margin: 0 0 0 10px;
}

.main-navigation-head .list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    position: relative;
}

.main-navigation-head .list-menu p {
    position: relative;
    cursor: pointer;
}

.main-navigation-head .list-menu p:hover {
    color: #FF5E1B;
}

.main-navigation-head .list-menu p::after {
    position: absolute;
    content: '';
    background: url("/img/next.svg");
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    right: -16px;
    top: 5px;
}

.main-navigation-head .my-drop-down-menu {
    padding: 30px 20px;
}

.main-navigation-head .my-drop-down-menu .child {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 0;
    width: 130px;
    border: 1px solid #33333a;
    top: 79px;
    background: #ffffff;
}

.main-navigation-head .name-group.active + .drop-down-child .child {
    display: flex;
}

.my-drop-down-menu .name-group {
    position: relative;
}

.my-drop-down-menu .name-group.active {
    color: #FF5E1B;
}

.main-navigation-head .name-group::before {
    content: '';
    position: absolute;
    background: url(/img/arrow-down.svg);
    width: 12px;
    height: 7px;
    right: -20px;
    top: 7px;
    transform: rotate(0deg);
    transition: .5s;
}

.main-navigation-head .child li a:hover {
    color: #FF5E1B;
}

@media (max-width: 1400px) {
    .header .main-navigation-head {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .header .head-mob {
        display: flex;
        /*margin: 20px 0 0 0;*/
    }

    .header .wrap-l-m {
        flex-direction: column;
    }

    .head-mob.active + .main-navigation-head {
        display: flex;
    }

    .name-group + .drop-down-child{
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        transition: .5s;
        height: 0;
    }

    .name-group.active + .drop-down-child  {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        transition: .5s;
        height: 100px;
    }


    .main-navigation-head .list-menu {
        flex-direction: column;
        width: 110px;
        align-items: initial;
    }

    .header .main-navigation-head {
        flex-direction: column;
        padding: 0 0 30px 0;
        height: auto;
        display: none;
    }

    .main-navigation-head .my-drop-down-menu {
        padding: 20px 20px;
    }

    .header .main-navigation-head .logo {
        display: none;
    }

    .main-navigation-head .name-group.active + .drop-down-child .child {
        position: relative;
        top: 0;
        border: 0;
        width: auto;
    }

    .header .list-menu ul li a {
        padding: 0;
    }

    .header .control-order {
        margin: 40px 0 0 0;
    }

    .mainBanner {
        padding: 0;
    }

}