* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #33333A;
}

.main-content {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.outline {
    outline: none;
}