/*standard zeroing for common styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: Proxima Nova;/*where is generic?*/
    font-style: normal;/*redundant*/
    font-weight: normal;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #33333A;
    margin: 0;/*redundant*/
}
.main-content {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: Proxima Nova;
}